.btn {
	cursor: pointer;
	border: 1px solid;
	border-radius: var(--v-border-radius);
	padding: 0.6rem 0.8rem;
	font-size: 1rem;

	&:hover,
	&:focus {
		outline: none;
	}
}

.btn.btn-primary {
	--q-primary: hsla(var(--v-primary-hue) var(--v-primary-saturation) var(--v-primary-lightness));
	border-color: var(--q-primary);
	background-color: var(--q-primary);
	color: #fafafa;

	&:hover,
	&:focus {
		--q-primary: hsla(var(--v-primary-hue) var(--v-primary-saturation) calc(var(--v-primary-lightness) - 6%));
	}
}
